common_db: &common_db
  journal_mode: WAL
  synchronous: NORMAL
  busy_timeout: 5000
  cache_size: 10000
  max_open_connections: 25
  max_idle_connections: 5
  enable_foreign_keys: true

downloader:
  rpc_url: "https://sepolia.gateway.tenderly.co/2gFSUOtAsGNiSwunU65ZoR"
  chunk_size: 5000            # block range per eth_getLogs call
  finality: "latest"          # "finalized", "safe", or "latest"
  db:
    <<: *common_db
    path: "./data/downloader.sqlite"

indexers:
  - name: "MyTokenIndexer"
    start_block: 3236805      # block to start indexing from
    db:
      <<: *common_db
      path: "./data/mytokenindexer.sqlite"
    contracts:
      - address: "0x7b79995e5f793A07Bc00c21412e50Ecae098E7f9"
        events:
          - "Transfer(address,address,uint256)"
