common_db: &common_db
  journal_mode: WAL
  synchronous: NORMAL
  busy_timeout: 5000
  cache_size: 10000
  max_open_connections: 25
  max_idle_connections: 5
  enable_foreign_keys: true

downloader:
  rpc_url: "http://localhost:10002"
  chunk_size: 1000            # block range per eth_getLogs call
  finality: "latest"          # "finalized", "safe", or "latest"
  db:
    <<: *common_db
    path: "./data/downloader.sqlite"

indexers:
  - name: "MyTokenIndexer"
    start_block: 0        # block to start indexing from
    db:
      <<: *common_db
      path: "./data/mytokenindexer.sqlite"
    contracts:
      - address: "0xc2C43FdAC1883b75aCfCdF7DF076d502f9Fa899c"
        events:
          - "Transfer(address,address,uint256)"
          - "Approval(address,address,uint256)"
